a:hover {
    text-decoration: none !important;
}
section{
    margin-top: 40px;
}

.img-banner{
    width: 100%;
    opacity: 0;
    transform: scale(0.8);
    animation: zoomInFade 1s ease-out forwards;
}
@keyframes zoomInFade {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.section-popular-dishes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.sub-title{
    font-size: 20px;
    font-weight: 700;
}
.title{
    font-size: 35px;
    font-weight: 700;
    color: var(--color-red);
}
.popular-dishes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.img-popular {
    opacity: 0;
    transform: translateY(-20px);
    animation: slideInFromTop 1s ease-out forwards;
    transition: transform 1s ease;
    object-fit: cover;
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.img-popular:hover {
    transform: scale(1.1);
}

.section-hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.section-visible {
    opacity: 1;
    transform: translateY(0);
}


.section-special{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.special-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.special-menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.box:hover{
    background-color: var(--color-red);
}
.box:hover .dishes-name {
    color: white;
}
.dishes-name{
    font-size: 16px;
  font-weight: bold;
  color: var(--color-red);
  word-wrap: break-word;
  white-space: normal;
  display: block;
  margin-top: 10px; 
  text-align: center;
}
.text-red{
    color: var(--color-red);
}
.text-darkblue{
    color: var(--color-darkblue);
}
.text-white{
    color: white;
}

.section-our{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.our-restaurant-content{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;
}
.img-our{
    width:70%;
    object-fit: cover;
    display: inline-block;
    
}
.our-content{
    flex-grow: 1;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.our-content .title{
    word-wrap: break-word;
    margin-bottom: 20px;

}
.normal-text {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    word-wrap: break-word;
}
.success{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.success-content{
    flex-grow: 1;
}

.section-reason{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 20px;
}
.reason{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.reason-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.reason-box:hover{
    background-color: var(--color-red);
    color: white;
}
.reason-box:hover .normal-text {
    color: white;
}
.icon-location{
    margin-top: 3px;
    width: 16px;
    height: 16px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.address-content{
    display: flex;
    align-items: center;
    gap: 20px;
}
.branch1{
    display: flex;
    gap: 10px;
}
.branch1-address, .working-hour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.working-hour .normal-text{
    margin-left: 25px;
}
.delivery-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.shipping{
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn-mini{
    width: 150px;
    height: 50px;
}
.map{
    border-radius: 10px;
    overflow: hidden;
    width: 50%;
}
.address{
    flex-grow: 1;
    max-width: 70%;
}

.section-review{
    background-color: var(--color-red);  
    padding: 20px;
}
.review-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.review-box {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.review-item {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: var(--color-beige);
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.review-item:hover {
    transform: translateY(-5px);
}
.section-show {
    opacity: 1;
    transform: translateY(0);
}
