body {
  background-color: #fff8ee;
  /* background-color: yellow; */

  margin: 0;
  font-family: Roboto;
}

.container {
  display: flex;
  flex-flow: column;
}

.title {
  font-size: 46px;
  font-weight: bold;
}

/* .top {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.main-content {
  flex: 2;
}

.other-blogs {
  flex: 0.8;
}
*/
.other-blogs-list {
  box-shadow: 0 0 3px grey;
  border-radius: 15px;
  margin-top: 17px;
  padding: 20px 10px;
  display: flex;
  flex-flow: column;
  gap: 17px;
}

.other-blog-element {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid grey;
  padding-bottom: 17px;
  /* align-items: center; */
}

.blog-info {
  display: flex;
  gap: 27px;
  color: grey;
  font-size: 13px;
}

.blog-content {
  margin-top: 10px;
}

.share {
  color: grey;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.comment-section {
  /* background-color: red; */
}

.comment-frame {
  display: flex;
  gap: 20px;
  /* align-items: center; */
  margin-top: 20px;
}

.comment-input {
  display: flex;
  align-items: center;
}

.comment-input,
.comment-input > textarea {
  width: 100%;
  height: 65px;
}

.comment-input > textarea {
  border: 2px solid #cc3333;
  border-radius: 30px;
  resize: none;
  padding: 20px;
  outline: none;
}

.comment-avatar > img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 2px solid #cc3333;
  padding: 2px;
}

.displayed-comment-avatar > img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: 2px;
}

.displayed-comment {
  width: 100%;
  border: 2px solid #cc3333;
  border-radius: 10px;
  /* resize: none; */
  padding: 18px;
  background: white;
  min-height: 150px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.comment-info {
  display: flex;
  justify-content: space-between;
}

.account-name {
  font-weight: bold;
}

.comment-date {
  color: rgb(178, 174, 174);
}

.comment-action {
  color: rgb(178, 174, 174);
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.send-button {
  margin-left: -80px;
  /* margin-left: -150px; */
  background: #cc3333;
  /* height: 50%; */
  color: white;
  padding: 8px 20px;
  /* box-sizing: border-box; */
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.responds-for {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.viewRespondsButton:hover {
  color: rgb(24, 43, 110);
}

.deleteComment:hover {
  color: #cc3333;
}

/* .responds-for.show {
  max-height: 100%;
} */

/* mobile: width < 740px */
@media only screen and (max-width: 739px) {
}

/* tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 739px) and (max-width: 1023px) {
  .content {
    padding: 20px 20px;
    display: flex;
    flex-flow: column;
    gap: 20px 40px;
  }

  .top {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .main-content {
    flex: 2;
  }

  .other-blogs {
    flex: 0.8;
  }

  /* .other-blogs-list {
    box-shadow: 0 0 3px grey;
    border-radius: 15px;
    margin-top: 17px;
    padding: 20px 10px;
    display: flex;
    flex-flow: column;
    gap: 17px;
  }

  .other-blog-element {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid grey;
    padding-bottom: 17px;
  } */
}

/* pc: width >= 1024px */
@media only screen and (min-width: 1024px) {
  .content {
    padding: 70px;
    display: flex;
    flex-flow: column;
    gap: 70px;
  }

  .top {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .main-content {
    flex: 2;
  }

  .other-blogs {
    flex: 0.8;
  }

  /* .other-blogs-list {
    box-shadow: 0 0 3px grey;
    border-radius: 15px;
    margin-top: 17px;
    padding: 20px 10px;
    display: flex;
    flex-flow: column;
    gap: 17px;
  }

  .other-blog-element {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid grey;
    padding-bottom: 17px;
  } */
}
