body {
  background-color: #fff8ee;
  /* background-color: yellow; */

  margin: 0;
  font-family: Roboto;
}

.container {
  display: flex;
  flex-flow: column;
}

.content {
  padding: 70px;
  display: flex;
  flex-flow: column;
  gap: 70px;
}

.top {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.main-content {
  flex: 2;
}

.title {
  font-size: 46px;
  font-weight: bold;
}

.other-blogs {
  flex: 0.8;
}

.other-blogs-list {
  box-shadow: 0 0 3px grey;
  border-radius: 15px;
  margin-top: 17px;
  padding: 20px 10px;
  display: flex;
  flex-flow: column;
  gap: 17px;
}

.other-blog-element {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid grey;
  padding-bottom: 17px;
  /* margin-top: 17px; */
}

.blog-info {
  display: flex;
  gap: 27px;
  color: grey;
  font-size: 13px;
}

.share {
  color: grey;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.comment-section {
  /* background-color: red; */
}
