.potato-icon {
  grid-column: 3/4;
  /* background-color: yellow; */
  padding-right: 10px;
  padding-top: 20px;
}

.main-register {
  grid-column: 2/3;
  /* background-color: purple; */
  color: white;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-register form {
  display: flex;
  flex-flow: column;
  gap: 10px;
  width: 100%;
}

input,
select {
  border-radius: 6px;
  border: 1.2px solid #2a435d;
  outline: none;
  height: 27px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #2a435d;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

input[type='submit']:hover {
  cursor: pointer;
}

#message {
  margin-bottom: -2px;
  font-size: 16px;
  color: yellow;
}

.register-input {
  margin-bottom: -2px;
  font-size: 14px;
}

input[type='submit'] {
  width: 35%;
  height: 33px;
  color: white;
  background-color: #2a435d;
}

/* mobile: width < 740px */
@media only screen and (max-width: 739px) {
  body {
    margin: 0;
    font-family: Roboto;
    background-image: url('../../../../assets/components/images/login-bg.png');
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
  }
  .container {
    background-color: #cc3333;
    height: 90vh;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0 -15px rgba(25, 25, 25, 0.5);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 10vh;
  }
}

/* width >= 740px */
@media only screen and (min-width: 739px) {
  body {
    margin: 0;
    font-family: Roboto;
    background-image: url('../../../../assets/components/images/login-bg.png');
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    padding-right: 0;
    padding-left: 54%;
  }
  .container {
    background-color: #cc3333;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    height: 100vh;
    box-shadow: -15px 0 rgba(25, 25, 25, 0.5);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
}
