body {
  margin: 0;
  font-family: Roboto;
  background-image: url('../../../../assets/login-bg.png');
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  padding-right: 0;
  padding-left: 54%;
}

.container {
  background-color: #cc3333;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  height: 100vh;
  box-shadow: -15px 0 rgba(25, 25, 25, 0.5);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.potato-icon {
  grid-column: 3/4;
  /* background-color: yellow; */
  padding-right: 10px;
  padding-top: 20px;
}

.main-register {
  grid-column: 2/3;
  /* background-color: purple; */
  color: white;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
select {
  border-radius: 6px;
  border: 1.2px solid #2a435d;
  outline: none;
  height: 27px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #2a435d;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
